
<div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <%- include('../../partials/navbar')-%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('../../partials/sidebar')-%>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Add Product </h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample" method="POST" action="/api/v1/admin-page/product/create" enctype="multipart/form-data" >
                      <div class="form-group">
                        <label for="fullname">Name</label>
                        <input type="text" class="form-control" id="name" name="name"  placeholder="Name">
                      </div>
                    
                      <div class="form-group">
                        <label for="email">Color</label>
                        <input type="text" class="form-control" id="color" name="color" placeholder="Color">
                      </div>
                      <% if (validColor.length > 0) { %> 
                        <div class="alert alert-danger "> <%= validColor %></div>
                       <% }%>
                      <div class="form-group">
                        <label for="age">Version</label>
                        <input type="text" class="form-control" id="version" name="version" placeholder="Version">
                      </div>
                     
                      <div class="form-group">
                        <label for="phone">Price</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Price">
                      </div>
                      
                      <div class="form-group">
                        <label for="address">Discount</label>
                        <input type="text" class="form-control" id="discount" name="discount"  placeholder="Discount">
                      </div>
                      
                      <div class="form-group">
                        <label for="avatar">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount"  placeholder="Amount">
                      </div>
                    
                      <div class="form-group">
                        <label for="avatar">Description</label>
                        <input type="text" class="form-control" id="description" name="description"  placeholder="Description">
                      </div>
                      <!-- <div class="form-group">
                        <label for="img">Image</label>
                        <input type="file" class="form-control" id="img" name="img"  placeholder="Image">
                        <img src="#" id="imgPreview" >
                      </div> -->
                      <div class="form-group">
                        <label for="avatar">System</label>
                        <input type="text" class="form-control" id="system" name="system"  placeholder="System">
                      </div>
                   
                      
                      <div class="form-group">
                        <label for="content">Content</label>
                        <!-- <input type="file" class="form-control" id="example" name="content"  placeholder="Content"> -->
                        <!-- <textarea class="form-control" id="editor" name="content"  placeholder="Content"></textarea> -->
                        <textarea name="content" id="example" cols="30" rows="10"></textarea>
                        <!-- <div id="example"></div> -->
                      </div>
                      <div class="form-group">
                        <label for="avatar">Image main</label>
                        <input type="text" class="form-control" id="imgMain" name="imgMain"  placeholder="Image">
                      </div>
                      <div class="form-group">
                        <label for="avatar">Album image</label>
                        <!-- <form action="/target" id="my-form" class="dropzone"></form> -->
                        <!-- <input type="text" class="form-control" id="album" name="album"  placeholder="Album image"> -->
                      </div>
                      <div class="form-group">
                        <label for="avatar">VideoUrl</label>
                        <input type="text" class="form-control" id="videoUrl" name="videoUrl"  placeholder="VideoUrl">
                      </div>
                      <button class="btn btn-light "><a class="link-a" href="/api/v1/admin-page/products">Cancel</a></button>
                      <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    </form>
                      <!-- <label for="avatar">Album image</label>
                      <form action="/api/v1/admin-page/product/create" id="dropzoneForm" class="dropzone" enctype="multipart/form-data" method="POST">
                        <div class="fallback">
                          <input type="file" name="file" multiple>
                          <input type="submit" value="Upload">
                        </div>
                      </form> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%- include('../../partials/footer')-%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

<script>
   function readUrl(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $("#imgPreview").attr('src', e.target.result).width(100).height(100);
      }
      reader.readAsDataURL(input.files[0]);
    }

   }
   $("#img").change(function() {
    readUrl(this);     
   })

  //  FroalaEditor 
 

  //  Gallery
  Dropzone.options.dropzoneForm = {
      acceptedFiles: "image/*",
      init: function() {
        this.on("queuecomplete", function (file) {
          setTimeout( () => {
            location.reload()
          }, 1000)
        })
      }
  }
</script>

    